@{
	ViewData["Title"] = "Thông tin ShopMates";
}
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Câu chuyện của tôi
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Trong giai đoạn không ngừng phát triển của thương mại điện tử, câu chuyện về cửa hàng trực tuyến trên web của chúng tôi bắt đầu với tầm nhìn cách mạng hóa cách mọi người mua sắm và kết nối với sản phẩm. Tất cả bắt đầu với một nhóm các cá nhân đam mê, những người đã nhận ra tiềm năng to lớn của thế giới kỹ thuật số trong việc biến đổi trải nghiệm mua sắm. Được thúc đẩy bởi sự hiểu biết sâu sắc về nhu cầu của người tiêu dùng và mong muốn thu hẹp khoảng cách giữa người mua và người bán, chúng tôi bắt đầu hành trình tạo ra một nền tảng mua sắm trực tuyến đổi mới và lấy người dùng làm trung tâm.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Qua vô số giờ động não, lập kế hoạch và phát triển, cửa hàng trực tuyến trên web của chúng tôi dần hình thành. Chúng tôi đã thiết kế một cách tỉ mỉ một giao diện trực quan cho phép khách hàng dễ dàng điều hướng qua một bộ sưu tập lớn các sản phẩm, được tuyển chọn từ những người bán và thương hiệu đáng tin cậy. Nhóm của chúng tôi đã cống hiến hết mình để tạo ra một môi trường mua sắm liền mạch và an toàn, tận dụng các công nghệ mới nhất để đảm bảo trải nghiệm người dùng mượt mà và thú vị. Chúng tôi tập trung vào việc xây dựng các hệ thống back-end mạnh mẽ xử lý liền mạch các giao dịch, quản lý đơn đặt hàng và hỗ trợ khách hàng để cung cấp một nền tảng đáng tin cậy và hiệu quả cho cả người mua và người bán.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Nếu có câu hỏi nào? Hãy liên hệ cho chúng tôi trực tiếp qua số: + 84 12345678 hoặc tại Độc lạ Bình Dương
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/images/about-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Nhiệm vụ của chúng tôi
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Nhiệm vụ của chúng tôi tại ShopMates là cách mạng hóa trải nghiệm mua sắm trực tuyến bằng cách cung cấp một nền tảng liền mạch, được cá nhân hóa và đáng tin cậy cho người mua sắm trên toàn thế giới. Chúng tôi cố gắng tạo ra một cộng đồng toàn diện và sôi động, nơi người mua sắm có thể khám phá nhiều loại sản phẩm chất lượng cao, kết nối với những cá nhân có cùng chí hướng và tận hưởng hành trình mua sắm thuận tiện và thú vị
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							<strong>Building Solutions with Lines of Code</strong>
						</p>

						<span class="stext-111 cl8">
							- bời Lâm Nhật Tiến
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/images/about-02.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	