@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Chào Mừng</h1>
    <p>Đây là trang web được tạo bởi Nhật Tiến đẹp trai và viết bằng ngôn ngữ C#</a>.</p>
    <p><img src="~/image/doge.gif" alt="Doge Gif"></p>
    <p>
        <div>Datebayo</div>
        <iframe width="600" height="350" src="https://www.youtube.com/embed/NqM032dnPtk"
                frameborder="0" allowfullscreen></iframe>
    </p>
</div>