@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800">DateBayo</h1>
    <iframe width="1450" height="820" src="https://www.youtube.com/embed/niPkap1ozUA"
                frameborder="0" allowfullscreen></iframe>
</div>
